Импорт библиотек

In [1]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import re
import datetime
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot as plt
import gensim

Чтение датасета

In [32]:
#Читаем json файл с резюме и вакансиями
with open('data.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

#Извлекаем отклонённые резюме
df_f = pd.json_normalize(data, record_path=['failed_resumes'], meta=[['vacancy', 'uuid'], ['vacancy', 'name'], ['vacancy', 'keywords'], ['vacancy', 'description'], ['vacancy', 'comment']])
#Извлекаем принятые резюме
df_c = pd.json_normalize(data, record_path=['confirmed_resumes'], meta=[['vacancy', 'uuid'], ['vacancy', 'name'], ['vacancy', 'keywords'], ['vacancy', 'description'], ['vacancy', 'comment']])
#Добавляем коды статусов
df_f['status'] = 0
df_c['status'] = 1
#Собираем в единый датасет
frames = [df_f, df_c]
df = pd.concat(frames)
df.head()

,uuid,first_name,last_name,birth_date,country,city,about,key_skills,experienceItem,educationItem,languageItems,vacancy.uuid,vacancy.name,vacancy.keywords,vacancy.description,vacancy.comment,status,languageItem
0,74392e00-ecfb-335b-9fc1-c2652dca06e5,Данила,Прохоров,1979-01-01,Россия,Санкт-Петербург,None,"Java, Spring Boot, Java EE, SQL, Hibernate, Gi...","[{'starts': '2022-05-01', 'ends': '2023-10-23'...","[{'year': 1999, 'organization': 'СибГАУ', 'fac...",NaN,779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,None,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,NaN
1,2b5ad5e1-1f31-3f3f-8a66-43cd89233672,Савва,Исаев,1991-01-01,Россия,Москва,"(Гражданин Республики Казахстан, по России им...","ООП, Java, Java Spring Framework, Функциональн...","[{'starts': '2019-12-01', 'ends': None, 'emplo...","[{'year': 2014, 'organization': 'АИНГ-Атырау',...",NaN,779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,None,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,NaN
2,ea1ac51a-e16b-367a-9216-52fb64809db1,Николай,Новиков,1986-12-08,Россия,,"С 1999 года, после появления дома первого ком...","Java, Spring Framework, Hibernate ORM, SQL, Ja...","[{'starts': '2021-11-24', 'ends': None, 'emplo...","[{'year': 2009, 'organization': 'Тюменский гос...",[Английский],779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,None,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,NaN
3,ecfc02a1-592c-3ed0-a801-1ad9ab3d30b8,Гавриил,Новикова,1985-10-13,Россия,Новосибирск,"- Oracle Certified Associate, Java SE 7 Progra...","Java, Git, SQL, HTML, JavaScript, CSS, MySQL, ...","[{'starts': '2010-05-01', 'ends': None, 'emplo...","[{'year': 2010, 'organization': 'Новосибирский...","[Русский, Английский]",779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,None,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,NaN
4,aff6b6bd-89c2-3b2c-ab2e-0b9f76ac367c,Ярослава,Тихонова,1992-07-28,Россия,Тюмень,None,"Java, Spring, Git, PostgreSQL, Hibernate ORM, ...","[{'starts': '2020-09-01', 'ends': None, 'emplo...","[{'year': 2020, 'organization': 'Московский го...","[Русский, Английский]",779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,None,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,NaN

Препроцессинг

In [3]:
df = df.fillna(0)

In [4]:
df = df.drop(['uuid'], axis=1)
df = df.drop(['first_name'], axis=1)
df = df.drop(['last_name'], axis=1)
df = df.drop(['country'], axis=1)

In [5]:
def calculate_years(start_date, end_date):
    return (end_date - start_date).days / 365

def calculate_age(birthdate):
    if birthdate == 0:
        return 25
    else:
        birthdate = datetime.datetime.strptime(birthdate, "%Y-%m-%d")
        today = datetime.datetime.today()
        return today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

def combine_columns(row):
    if row['languageItem'] == 0 and row['languageItems'] == 0:
        return 0
    elif row['languageItem'] == 0 and row['languageItems'] != 0:
        return row['languageItems']
    elif row['languageItem'] != 0 and row['languageItems'] == 0:
        return row['languageItem']
    else:
        return str(row['languageItem']) + str(row['languageItems'])

def calculate_experience(job_records):
    if job_records == 0:
        return 0
    else:
        total_experience = 0
        for job in job_records:
            start_date = datetime.datetime.strptime(job['starts'], '%Y-%m-%d')
            if job['ends'] is None:
                end_date = datetime.datetime.now()  # Current date if 'ends' is None
            else:
                end_date = datetime.datetime.strptime(job['ends'], '%Y-%m-%d')
            duration = (end_date - start_date).days / 365.25  # Convert days to years
            total_experience += duration
        return total_experience

def university_str(a):
    if a == 0:
        return 0
    else:
        return str(a)

def university(a):
    if a == 0:
        return 0
    else:
        a = a.split(",")
        if len(a) < 1:
            return 0
        else:
            a = a[1]
            a = a.replace("organization","").replace(':',"").replace("'","")
            return a

def university_year(a):
    if a == 0:
        return 0
    else:
        a = a.split(",")
        if len(a) < 1:
            return 0
        else:
            a = a[0]
            a = a.replace("year","").replace(':',"").replace("'","").replace("[","").replace("{","")
            return a

def university_spec(a):
    if a == 0:
        return 0
    else:
        a = a.split(",")
        if len(a) < 1:
            return 0
        else:
            a = a[3]
            a = a.replace("year","").replace(':',"").replace("'","").replace("[","").replace("{","")
            return a

def university_level(a):
    if "Высшее" in str(a):
        return 1
    else:
        return 0


def extract_specialty(data_string):
    data_string = str(data_string)
    # Define the pattern to match the specialty
    pattern = re.compile(r"'specialty': '(.*?)'")

    # Search for the pattern in the given string
    match = pattern.search(data_string)

    # If a match is found, return the matched specialty, otherwise return 0
    return match.group(1) if match else 0


def extract_summary(experiences):
    if not isinstance(experiences, list):  # Check if the input is not a list
        return "Invalid data format"  # Return a default message or handle as needed

    summaries = []
    for experience in experiences:
        start = experience.get('starts', 'Unknown start date')
        end = experience.get('ends', 'Present') or 'Present'
        employer = experience.get('employer', 'Unknown employer')
        city = experience.get('city', 'Unknown city')
        position = experience.get('position', 'Unknown position')
        description = experience.get('description', 'No description provided').split('.')[0] + '...' if experience.get('description') else 'No description provided.'
        summary = f"{position} at {employer}, {city} ({start} - {end}): {description}"
        summaries.append(summary)
    return ' | '.join(summaries) if summaries else "No work experience provided"

In [6]:
df['age'] = df['birth_date'].apply(calculate_age)
df = df.drop(['birth_date'], axis=1)
df['Languages'] = df.apply(combine_columns, axis=1)
df = df.drop(['languageItems'], axis=1)
df = df.drop(['languageItem'], axis=1)
df['years_of_experience'] = df['experienceItem'].apply(calculate_experience)
df["university"] = df["educationItem"].apply(university_str)
df["university"] = df["university"].apply(university)
df["university_year"] = df["educationItem"].apply(university_str)
df["university_year"] = df["university_year"].apply(university_year)
df["university_level"] = df["educationItem"].apply(university_str)
df["university_level"] = df["university_level"].apply(university_level)
df["specialty"] = df["educationItem"].apply(extract_specialty)
df['work_summary'] = df['experienceItem'].apply(extract_summary)
df = df.drop('experienceItem', axis=1)
df = df.drop('educationItem', axis=1)

In [7]:
print(f"В датасете {df.shape[0]} строк и {df.shape[1]} колонок")

В датасете 656 строк и 17 колонок

In [8]:
df.head(5)

,city,about,key_skills,vacancy.uuid,vacancy.name,vacancy.keywords,vacancy.description,vacancy.comment,status,age,Languages,years_of_experience,university,university_year,university_level,specialty,work_summary
0,Санкт-Петербург,0,"Java, Spring Boot, Java EE, SQL, Hibernate, Gi...",779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,0,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,45,0,10.140999,СибГАУ,1999,1,,Ведущий инженер-программист at МФО ХмельИнфоОр...
1,Москва,"(Гражданин Республики Казахстан, по России им...","ООП, Java, Java Spring Framework, Функциональн...",779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,0,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,33,0,9.451061,АИНГ-Атырау,2014,1,,"Начальник отдела java разработки at МФО Вод, Ш..."
2,,"С 1999 года, после появления дома первого ком...","Java, Spring Framework, Hibernate ORM, SQL, Ja...",779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,0,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,37,[Английский],4.306639,Тюменский государственный университет,2009,1,Специалист в области компьютерной графики и We...,"Java Developer at МФО Обл, Щёлково (2021-11-24..."
3,Новосибирск,"- Oracle Certified Associate, Java SE 7 Progra...","Java, Git, SQL, HTML, JavaScript, CSS, MySQL, ...",779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,0,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,38,"[Русский, Английский]",14.039699,Новосибирский национальный исследовательский...,2010,1,Математические методы в экономике,"Senior Java Developer at ПАО МонтажЖелДор, Лух..."
4,Тюмень,0,"Java, Spring, Git, PostgreSQL, Hibernate ORM, ...",779f3a59-206a-3241-adc4-d7db504f960b,Java разработчик команда Инвестиции,0,Описание Мы расширяем команды и ищем разработ...,450 на руки,0,31,"[Русский, Английский]",5.620808,Московский государственный технический униве...,2020,1,Информационная безопасность автоматизированных...,"Java-разработчик at МФО ЛифтГаражОрион, Щёлков..."

In [9]:
df.tail(5)

,city,about,key_skills,vacancy.uuid,vacancy.name,vacancy.keywords,vacancy.description,vacancy.comment,status,age,Languages,years_of_experience,university,university_year,university_level,specialty,work_summary
188,Тула,0,"JavaScript, TypeScript, Vue.js, Nuxt.js, Node....",259bf318-e6a7-3b6c-93f9-e1804a89ee63,Frontend Developer,0,"-бренд одежды и аксессуаров, созданный в 2008...",0,1,29,"[Русский, Английский]",3.868583,ТИЭИ-Тула,2019,1,,"Старший fronend-разработчик at ОАО ITАлмаз, За..."
189,Пенза,0,"JavaScript, TypeScript, Vue js, Nuxt, HTML, CS...",259bf318-e6a7-3b6c-93f9-e1804a89ee63,Frontend Developer,0,"-бренд одежды и аксессуаров, созданный в 2008...",0,1,35,"[Русский, Английский]",8.380561,Пензенский государственный университет,2012,1,Инженер программист,"Frontend-разработчик at ЗАО ТрансТехГлав-М, Ра..."
190,Тула,0,"JavaScript, TypeScript, Vue.js, Nuxt, Nest, No...",259bf318-e6a7-3b6c-93f9-e1804a89ee63,Frontend Developer,0,"-бренд одежды и аксессуаров, созданный в 2008...",0,1,31,"[Русский, Английский]",5.954825,Тульский государственный университет,2015,1,Конструкторско-технологическое обеспечение авт...,Senior Fullstack Developer at ООО РыбБашкирМор...
191,Санкт-Петербург,"Профессиональные навыки: • JavaScript, базовы...","JavaScript, TypeScript, Vue.js, Nuxt.js, Автом...",259bf318-e6a7-3b6c-93f9-e1804a89ee63,Frontend Developer,0,"-бренд одежды и аксессуаров, созданный в 2008...",0,1,24,0,6.157426,Канский технологический колледж,2021,0,,"Frontend разработчик at ПАО НефтьКреп, Серпухо..."
192,Москва,"Я имеют опыт работы с Vue.js (более 5 лет), J...","JavaScript, Vue.js, Node.js, HTML5, CSS3, jQue...",259bf318-e6a7-3b6c-93f9-e1804a89ee63,Frontend Developer,0,"-бренд одежды и аксессуаров, созданный в 2008...",0,1,26,"[Русский, Английский]",7.249829,Омский авиационный колледж имени Н.Е. Жуковс...,2019,1,"Информационные системы и программирование, Про...","Frontend-разработчик at ОАО ЦементТех, Шатура ..."

In [10]:
df.describe

<bound method NDFrame.describe of                 city                                              about  \
0    Санкт-Петербург                                                  0
1             Москва   (Гражданин Республики Казахстан, по России им...
2                      С 1999 года, после появления дома первого ком...
3        Новосибирск  - Oracle Certified Associate, Java SE 7 Progra...
4             Тюмень                                                  0
..               ...                                                ...
188             Тула                                                  0
189            Пенза                                                  0
190             Тула                                                  0
191  Санкт-Петербург   Профессиональные навыки: • JavaScript, базовы...
192           Москва   Я имеют опыт работы с Vue.js (более 5 лет), J...

                                            key_skills  \
0    Java, Spring Boot, Java EE, SQL, Hibernate, Gi...
1    ООП, Java, Java Spring Framework, Функциональн...
2    Java, Spring Framework, Hibernate ORM, SQL, Ja...
3    Java, Git, SQL, HTML, JavaScript, CSS, MySQL, ...
4    Java, Spring, Git, PostgreSQL, Hibernate ORM, ...
..                                                 ...
188  JavaScript, TypeScript, Vue.js, Nuxt.js, Node....
189  JavaScript, TypeScript, Vue js, Nuxt, HTML, CS...
190  JavaScript, TypeScript, Vue.js, Nuxt, Nest, No...
191  JavaScript, TypeScript, Vue.js, Nuxt.js, Автом...
192  JavaScript, Vue.js, Node.js, HTML5, CSS3, jQue...

                             vacancy.uuid  \
0    779f3a59-206a-3241-adc4-d7db504f960b
1    779f3a59-206a-3241-adc4-d7db504f960b
2    779f3a59-206a-3241-adc4-d7db504f960b
3    779f3a59-206a-3241-adc4-d7db504f960b
4    779f3a59-206a-3241-adc4-d7db504f960b
..                                    ...
188  259bf318-e6a7-3b6c-93f9-e1804a89ee63
189  259bf318-e6a7-3b6c-93f9-e1804a89ee63
190  259bf318-e6a7-3b6c-93f9-e1804a89ee63
191  259bf318-e6a7-3b6c-93f9-e1804a89ee63
192  259bf318-e6a7-3b6c-93f9-e1804a89ee63

                            vacancy.name  vacancy.keywords  \
0    Java разработчик команда Инвестиции                 0
1    Java разработчик команда Инвестиции                 0
2    Java разработчик команда Инвестиции                 0
3    Java разработчик команда Инвестиции                 0
4    Java разработчик команда Инвестиции                 0
..                                   ...               ...
188                  Frontend Developer                  0
189                  Frontend Developer                  0
190                  Frontend Developer                  0
191                  Frontend Developer                  0
192                  Frontend Developer                  0

                                   vacancy.description vacancy.comment  \
0     Описание Мы расширяем команды и ищем разработ...     450 на руки
1     Описание Мы расширяем команды и ищем разработ...     450 на руки
2     Описание Мы расширяем команды и ищем разработ...     450 на руки
3     Описание Мы расширяем команды и ищем разработ...     450 на руки
4     Описание Мы расширяем команды и ищем разработ...     450 на руки
..                                                 ...             ...
188   -бренд одежды и аксессуаров, созданный в 2008...               0
189   -бренд одежды и аксессуаров, созданный в 2008...               0
190   -бренд одежды и аксессуаров, созданный в 2008...               0
191   -бренд одежды и аксессуаров, созданный в 2008...               0
192   -бренд одежды и аксессуаров, созданный в 2008...               0

     status  age              Languages  years_of_experience  \
0         0   45                      0            10.140999
1         0   33                      0             9.451061
2         0   37           [Английский]             4.306639
3         0   38  [Русский, Английский]            14.039699
4         0   31  [Русский, Английский]             5.620808
..      ...  ...                    ...                  ...
188       1   29  [Русский, Английский]             3.868583
189       1   35  [Русский, Английский]             8.380561
190       1   31  [Русский, Английский]             5.954825
191       1   24                      0             6.157426
192       1   26  [Русский, Английский]             7.249829

                                            university university_year  \
0                                               СибГАУ            1999
1                                          АИНГ-Атырау            2014
2                Тюменский государственный университет            2009
3      Новосибирский национальный исследовательский...            2010
4      Московский государственный технический униве...            2020
..                                                 ...             ...
188                                          ТИЭИ-Тула            2019
189             Пензенский государственный университет            2012
190               Тульский государственный университет            2015
191                    Канский технологический колледж            2021
192    Омский авиационный колледж имени Н.Е. Жуковс...            2019

     university_level                                          specialty  \
0                   1
1                   1
2                   1  Специалист в области компьютерной графики и We...
3                   1                  Математические методы в экономике
4                   1  Информационная безопасность автоматизированных...
..                ...                                                ...
188                 1
189                 1                                Инженер программист
190                 1  Конструкторско-технологическое обеспечение авт...
191                 0
192                 1  Информационные системы и программирование, Про...

                                          work_summary
0    Ведущий инженер-программист at МФО ХмельИнфоОр...
1    Начальник отдела java разработки at МФО Вод, Ш...
2    Java Developer at МФО Обл, Щёлково (2021-11-24...
3    Senior Java Developer at ПАО МонтажЖелДор, Лух...
4    Java-разработчик at МФО ЛифтГаражОрион, Щёлков...
..                                                 ...
188  Старший fronend-разработчик at ОАО ITАлмаз, За...
189  Frontend-разработчик at ЗАО ТрансТехГлав-М, Ра...
190  Senior Fullstack Developer at ООО РыбБашкирМор...
191  Frontend разработчик at ПАО НефтьКреп, Серпухо...
192  Frontend-разработчик at ОАО ЦементТех, Шатура ...

[656 rows x 17 columns]>

In [11]:
def descr(about):
    trys = 0
    good = 0
    bad = 0
    ### Промты для описания опыта
    prompt_area = "Ты профессиональный рекрутер. Дан текст описания опыта соискателя. Без дополнительных символов выпиши ключевые слова говорящие об опыте. Перечисли через запятую. Максимум 10 слов. Текст описания: " + about

    endpoint = 'https://api.together.xyz/v1/chat/completions'

    try:
        res = requests.post(endpoint, json={
            "model": "mistralai/Mixtral-8x7B-Instruct-v0.1",
            "max_tokens": 1024,
            "prompt": f"[INST] {prompt_area} [/INST]",
            "temperature": 0.7,
            "top_p": 0.7,
            "top_k": 50,
            "repetition_penalty": 1,
            "stop": [
                "[/INST]",
                "</s>"
            ]
        }, headers={
            "Authorization": "Bearer 2730dfa623a4fed552c7655d1e0edf28430fffad261e22d1d55c41c13411ad23",
        })

        data = json.loads(res.content)

        result = data['choices'][0]['message']['content']
        trys += 1
        print(f"try number {trys} is successful")
        good += 1
    except:
        result = 0
        trys += 1
        print(f"try number {trys} is not successful")
        bad += 1

    return result

In [12]:
le = LabelEncoder()

df['Languages'] = df['Languages'].astype(str)
df['vacancy.name'] = df['vacancy.name'].astype(str)
df['vacancy.uuid'] = df['vacancy.uuid'].astype(str)
df['vacancy.comment'] = df['vacancy.comment'].astype(str)
df['university'] = df['university'].astype(str)
df['city'] = df['city'].astype(str)


df['Languages'] = le.fit_transform(df['Languages'])
df['vacancy.name'] = le.fit_transform(df['vacancy.name'])
df['vacancy.uuid'] = le.fit_transform(df['vacancy.uuid'])
df['vacancy.comment'] = le.fit_transform(df['vacancy.comment'])
df['university'] = le.fit_transform(df['university'])
df['city'] = le.fit_transform(df['city'])

In [13]:
df.head()

,city,about,key_skills,vacancy.uuid,vacancy.name,vacancy.keywords,vacancy.description,vacancy.comment,status,age,Languages,years_of_experience,university,university_year,university_level,specialty,work_summary
0,74,0,"Java, Spring Boot, Java EE, SQL, Hibernate, Gi...",11,8,0,Описание Мы расширяем команды и ищем разработ...,2,0,45,0,10.140999,300,1999,1,,Ведущий инженер-программист at МФО ХмельИнфоОр...
1,46,"(Гражданин Республики Казахстан, по России им...","ООП, Java, Java Spring Framework, Функциональн...",11,8,0,Описание Мы расширяем команды и ищем разработ...,2,0,33,0,9.451061,55,2014,1,,"Начальник отдела java разработки at МФО Вод, Ш..."
2,0,"С 1999 года, после появления дома первого ком...","Java, Spring Framework, Hibernate ORM, SQL, Ja...",11,8,0,Описание Мы расширяем команды и ищем разработ...,2,0,37,6,4.306639,327,2009,1,Специалист в области компьютерной графики и We...,"Java Developer at МФО Обл, Щёлково (2021-11-24..."
3,55,"- Oracle Certified Associate, Java SE 7 Progra...","Java, Git, SQL, HTML, JavaScript, CSS, MySQL, ...",11,8,0,Описание Мы расширяем команды и ищем разработ...,2,0,38,23,14.039699,218,2010,1,Математические методы в экономике,"Senior Java Developer at ПАО МонтажЖелДор, Лух..."
4,87,0,"Java, Spring, Git, PostgreSQL, Hibernate ORM, ...",11,8,0,Описание Мы расширяем команды и ищем разработ...,2,0,31,23,5.620808,173,2020,1,Информационная безопасность автоматизированных...,"Java-разработчик at МФО ЛифтГаражОрион, Щёлков..."

In [14]:
df['about'] = df['about'].astype(str)
df['key_skills'] = df['key_skills'].astype(str)
df['vacancy.description'] = df['vacancy.description'].astype(str)
df['specialty'] = df['specialty'].astype(str)
df['work_summary'] = df['work_summary'].astype(str)

In [15]:
text_columns_list = ['about', 'key_skills', 'vacancy.description', 'specialty', 'work_summary']

In [16]:
df = df.drop('about', axis=1)

In [17]:
df = df.drop('vacancy.description', axis=1)

In [18]:
df = df.drop('vacancy.keywords', axis=1)

In [19]:
df.head()

,city,key_skills,vacancy.uuid,vacancy.name,vacancy.comment,status,age,Languages,years_of_experience,university,university_year,university_level,specialty,work_summary
0,74,"Java, Spring Boot, Java EE, SQL, Hibernate, Gi...",11,8,2,0,45,0,10.140999,300,1999,1,,Ведущий инженер-программист at МФО ХмельИнфоОр...
1,46,"ООП, Java, Java Spring Framework, Функциональн...",11,8,2,0,33,0,9.451061,55,2014,1,,"Начальник отдела java разработки at МФО Вод, Ш..."
2,0,"Java, Spring Framework, Hibernate ORM, SQL, Ja...",11,8,2,0,37,6,4.306639,327,2009,1,Специалист в области компьютерной графики и We...,"Java Developer at МФО Обл, Щёлково (2021-11-24..."
3,55,"Java, Git, SQL, HTML, JavaScript, CSS, MySQL, ...",11,8,2,0,38,23,14.039699,218,2010,1,Математические методы в экономике,"Senior Java Developer at ПАО МонтажЖелДор, Лух..."
4,87,"Java, Spring, Git, PostgreSQL, Hibernate ORM, ...",11,8,2,0,31,23,5.620808,173,2020,1,Информационная безопасность автоматизированных...,"Java-разработчик at МФО ЛифтГаражОрион, Щёлков..."

In [20]:
def preprocessing_nlp(a):
    return gensim.utils.simple_preprocess(a)

In [21]:
#df["key_skills"] = df["key_skills"].apply(preprocessing_nlp)
#df["specialty"] = df["specialty"].apply(preprocessing_nlp)
#df["work_summary"] = df["work_summary"].apply(preprocessing_nlp)

In [22]:
df.head()

,city,key_skills,vacancy.uuid,vacancy.name,vacancy.comment,status,age,Languages,years_of_experience,university,university_year,university_level,specialty,work_summary
0,74,"Java, Spring Boot, Java EE, SQL, Hibernate, Gi...",11,8,2,0,45,0,10.140999,300,1999,1,,Ведущий инженер-программист at МФО ХмельИнфоОр...
1,46,"ООП, Java, Java Spring Framework, Функциональн...",11,8,2,0,33,0,9.451061,55,2014,1,,"Начальник отдела java разработки at МФО Вод, Ш..."
2,0,"Java, Spring Framework, Hibernate ORM, SQL, Ja...",11,8,2,0,37,6,4.306639,327,2009,1,Специалист в области компьютерной графики и We...,"Java Developer at МФО Обл, Щёлково (2021-11-24..."
3,55,"Java, Git, SQL, HTML, JavaScript, CSS, MySQL, ...",11,8,2,0,38,23,14.039699,218,2010,1,Математические методы в экономике,"Senior Java Developer at ПАО МонтажЖелДор, Лух..."
4,87,"Java, Spring, Git, PostgreSQL, Hibernate ORM, ...",11,8,2,0,31,23,5.620808,173,2020,1,Информационная безопасность автоматизированных...,"Java-разработчик at МФО ЛифтГаражОрион, Щёлков..."

In [23]:
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [24]:
X = df['work_summary']
y = df['status']

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [26]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [27]:
y_pred = clf.predict(X_test)

In [28]:
print(roc_auc_score(y_test, y_pred))

0.5003470414714559

In [29]:
from xgboost import XGBRegressor

X = df.drop(['status'],axis=1)
X = X.drop(['key_skills'],axis=1)
X = X.drop(['specialty'],axis=1)
X = X.drop(['university_year'],axis=1)
X = X.drop(['work_summary'],axis=1)
y = df['status']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
my_model = XGBRegressor()
# Add silent=True to avoid printing out updates with each cycle
my_model.fit(X_train, y_train, verbose=False)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [30]:
from sklearn.metrics import mean_absolute_error

predictions = my_model.predict(X_test)
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error : 0.3928678321692298

In [31]:
print(roc_auc_score(y_test, predictions))

0.5987834549878345